<app-header></app-header>
<div class="payment-window">

    <div class="left">
        <div class="topdiv">
            <h1>Pick up at</h1>
            
            <h3>Personal Details</h3>
        </div>
        <div class="botdiv">
            <div class="mod">
                <input class="radio" type="radio" name="payment" value="gcash">
                <img src="img/gcash.png" alt="gcash" class="mod-icon">
                <p>GCash</p>
            </div>
            <br>
            <div class="mod">
                <input class="radio" type="radio" name="payment" value="cash">
                <img src="img/cash.svg" alt="cash" class="mod-icon">
                <p>Cash</p>
                
            </div>
        </div>
    </div>
    <div class="right">
        <div class="receipt">
            <h1>Your Order from</h1>
        </div>
        <button class="btn">Place Order</button>
    </div>
</div>
<div class="top">
    
</div>