
@if(whatAmI == 'guest'){

    <div class="flex-container">
        <img src="img/logo.svg" alt="logo" class="logo">
        <h3 class="title">SaveMunch</h3>
        
        <div class="authenticate">
            <button (click)="openModal('guest')" class="btn-login">Login</button>
            <app-auth-modal [isOpen]="isModalOpen" (closeModal)="closeModal()"></app-auth-modal>
            <button class="btn-signup" (click)="signup('guestRegister')">Sign Up</button>
        </div>

        <div class="language">
            <i class="fa-solid fa-earth-americas"></i>
            <div>EN</div>
            <i class="fa-solid fa-caret-down"></i>
        </div>

        <div class="hamburger-icon">
            <i class="fa-sharp fa-solid fa-bars" (click)="toggleDropdown()"></i>
        </div>
    </div>

    <div class="dropdown" *ngIf="isOpen">
        <div class="authenticate-drop">
            <button (click)="login('guest')" class="btn-login">Login</button>
            
            <button class="btn-signup" >Sign Up</button>
            <!-- <app-auth-modal [isOpen]="isModalOpen" (closeModal)="closeModal()"></app-auth-modal> -->
        </div>
        <div class="links-b">
            <a href="">Delivery</a>
            <a href="">Pick-up</a>
            <a href="">Shops</a>
        </div>
        <div class="business">
            <p (click)="businessSignup()">Become a Partner</p>
            <p (click)="openModal('partner')">Sign in for Business</p>
            <app-auth-modal [isOpen]="isModalOpen" (closeModal)="closeModal()"></app-auth-modal>
            <p>Chat Support</p>
        </div>
        
    </div>
}


@if(whatAmI == 'store'){
    <div class="flex-container">
        <img src="img/logo.svg" alt="logo" class="logo">
        <h3>SaveMunch</h3>
        <div class="links">
            <a href="">Dashboard</a>
            <a href="">Order History</a>
            <a href="">Menu Management</a>
            <a href="">Reviews</a>
            <a href="">Inbox</a>
        </div>

        <div class="language">
            <i class="fa-solid fa-earth-americas"></i>
            <div>EN</div>
            <i class="fa-solid fa-caret-down"></i>
        </div>

        <div class="hamburger-icon">
            <i class="fa-sharp fa-solid fa-bars" (click)="toggleDropdown()"></i>
        </div>
    </div>

    <div class="dropdown" *ngIf="isOpen">
        
        <div class="links-b">
            <a href="">Dashboard</a>
            <a href="">Order History</a>
            <a href="">Menu Management</a>
            <a href="">Reviews</a>
            <a href="">Inbox</a>
        </div>
        <div class="business">
            <p>Become a Partner</p>
            <p>Sign in for Business</p>
            <p>Chat Support</p>
        </div>
        
    </div>
}

@if(whatAmI == 'user'){
    <div class="flex-container">
        <img src="img/logo.svg" alt="logo" class="logo">
        <h3>SaveMunch</h3>
        
        
        
        <div class="links">
            <a href="">Delivery</a>
            <a href="">Pick-up</a>
            <a href="">Shops</a> 
        </div>
        <div *ngIf="authService.user$ | async as user">
            Logged in as: {{ user.email }}
        </div>
        <div class="authenticate">
                <button class="btn-login" (click)="logout()">Logout</button>
            </div>
        <div class="language">
            <i class="fa-solid fa-earth-americas"></i>
            <div>EN</div>
            <i class="fa-solid fa-caret-down"></i>
        </div>
            <div class="hamburger-icon">
                <i class="fa-sharp fa-solid fa-bars" (click)="toggleDropdown()"></i>
            </div>
            
    </div>
    <div *ngIf="isOpen" class="dropdowncontainer">
            <div class="chatsupport">
                <a href=""><i class="icon fa-solid fa-comments"></i>Chat Support</a>
                
            </div>
    </div>
}

@if(whatAmI == 'none'){
    <div class="flex-container">
        <img src="img/logo.svg" alt="logo" class="logo">
        <h3>SaveMunch</h3>
    
    </div>
}

