.logo{
    width: 100px;
    height: 100px;

}
h3 {    
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35px;
    left : 115px; 
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97.9%;
    padding: 10px 20px;
    align-items: center;
    background-color: #1A5319;
    font-family: 'Poppins', sans-serif;
    color: #FEFAE0;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;

    a {
        margin: 0 10px;
        color: #FEFAE0;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        top: 20px;
        right :  1100px;
    }

    a:hover {
        text-decoration: underline;
    }

    .authenticate {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
    }



} 
.btn-login{
    background-color: #D6EFD8;
    color:#1A5319;
    border: 2px solid #508D4E;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 0;
    right: 170px;
    position: relative;
}
.btn-signup{
    position: relative;
    background-color: #508D4E;
    color: white;
    border: 2px solid #D6EFD8;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 0;
    right: 170px;
    
}

button{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    position: relative;
    top: 1px;
    right : 400px;
    margin-right: 0;
}

.hamberger i {
    font-size: 35px;
    color: #FEFAE0;
    cursor: pointer;
    position: relative;
    top: 5px;
    left : 1320px;
    margin-right: 0;
}

.globe i {
    font-size: 25px;
    color: #FEFAE0;
    cursor: pointer;
    position: relative;
    top: 5px;
    left :  800px;
    margin-right: 0;
}
.globe a {
    font-size: 15px;
    color: #FEFAE0;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    top: 2px;
    left :  800px;
    padding: 5px;
    margin-right: 0;
}


