.logo{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    padding:0;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1A5319;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}

.links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



.btn-login{
    background-color: #D6EFD8;
    color:#1A5319;
    border: 2px solid #508D4E;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
}

.btn-signup{
    background-color: #508D4E;
    color: white;
    border: 2px solid #D6EFD8;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
    
    
}

.authenticate{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
    gap: 5px;
}

.language{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    gap: 5px;
}

.hamburger-icon{
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
    margin-right: 2%;
}

.dropdown{
    background-color: #508D4E;
    position: absolute;
    width: 100%;
    height: 100px;
    animation: slideDown 0.5s ease-out;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    font-weight: bold;
}

.dropdown p{
    cursor: pointer;
}

.business{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}

.links-b{
    display: none;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}

.links-b a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.authenticate-drop{
    display: none;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}



@media screen and (max-width: 600px) {

   .authenticate{
    display: none;
   }

   .authenticate-drop{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    width: 100%
   }

    .language{
        margin-left: 55%;
    }

    h3{
        display: none;
    }

    .links{
        display: none;
    }

    .links-b{
        display: flex;
        margin-top: 0;
        width: 100%;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-size: 10px;
    }

    .business{
        font-size: 10px;
    }
    
    .dropdown{
        height: 150px;
        position: relative;
    }

}
