
@if(whatAmI == 'guest'){
    <div class="flex-container">
        <img src="img/logo.svg" alt="logo" class="logo">
        <h3>SaveMunch</h3>
        <div class="hamberger">
                <i class="fa-sharp fa-solid fa-bars"></i>
            </div>
        <div class="globe">
            <i class="fa-solid fa-earth-americas"></i>
            <a href="">EN</a>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="links">
            <a href="">Delivery</a>
            <a href="">Pick-up</a>
            <a href="">Shops</a>
            <div class="authenticate">
                <button class="btn-login">Login</button>
                <button class="btn-signup">Sign Up</button>
            </div>
        </div>
    </div>
}

@if(whatAmI == 'admin'){
    <div class="flex-container">
        <img src="img/logo.svg" alt="logo" class="logo">
        <h3>SaveMunch</h3>
        <div class="links">
            <a href="">Dashboard</a>
            <a href="">Order History</a>
            <a href="">Menu Management</a>
            <a href="">Reviews</a>
            <a href="">Inbox</a>
        </div>
    </div>
}

@if(whatAmI == 'user'){
    
}

