
@if(whatAmI == 'guest'){
    <div class="flex-container">
        <img src="img/logo.svg" alt="logo" class="logo">
        <h3>SaveMunch</h3>
        <div class="hamberger">
                <i class="fa-sharp fa-solid fa-bars" (click)="toggleDropdown()"></i>
            </div>
        <div class="globe">
            <i class="fa-solid fa-earth-americas"></i>
            <a href="">EN</a>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="links">
            <a href="">Delivery</a>
            <a href="">Pick-up</a>
            <a href="">Shops</a>
            <div class="authenticate">
                <button (click)="openModal()" class="btn-login">Login</button>
                <app-auth-modal [isOpen]="isModalOpen"></app-auth-modal>
                <button class="btn-signup">Sign Up</button>
            </div>
        </div>
    </div>
    <div *ngIf="isOpen" class="dropdowncontainer">
            <div class="dropbar">
                <a href="">Become a Partner</a>
                <a href="">Sign in for Business</a>
            </div> 
            <div class="chatsupport">
                <a href=""><i class="icon fa-solid fa-comments"></i>Chat Support</a>
                
            </div>
    </div>
}


@if(whatAmI == 'admin'){
    <div class="flex-container">
        <img src="img/logo.svg" alt="logo" class="logo">
        <h3>SaveMunch</h3>
        <div class="links">
            <a href="">Dashboard</a>
            <a href="">Order History</a>
            <a href="">Menu Management</a>
            <a href="">Reviews</a>
            <a href="">Inbox</a>
        </div>
    </div>
}

@if(whatAmI == 'user'){
    
}


