<app-header></app-header>

@if(whatAmI == 'store'){
    <div class="greet">
        <img src="img/logo-with-title.svg" alt="logo" class="logo">
        <h2>Hello, {{name}}!</h2>
    </div>
    <div class="content">
        <!-- app.component.html -->
    <div class="chart">
        <h1 style="margin-left: 20px;">Summary</h1>
        <div class="chart-heading">
            <p>Sales</p>
            <p>May 2025</p>
        </div>
        <div class="chart-container">
            <canvas  id="lineChart" >{{ chart }}</canvas>
        </div>
        
    </div>
    
    </div>
}

@if(whatAmI == 'user'){
    <div class="greet">
        <img src="img/logo-with-title.svg" alt="logo" class="logo">
        <div class="break">
        </div>
        <input class="search" type="text" placeholder="Search">
    </div>

    <div class="content">
        
    </div>
}

@if(whatAmI == 'guest'){
    <div class="greet">
        <img src="img/logo-with-title.svg" alt="logo" class="logo">
        <div class="break">
        </div>
        <input class="search" type="text" placeholder="Search">
    </div>
    
    <div class="content-guest">
        <div class="break"></div>
        <div class="flex-container">
            <div class="filters">
                <h3>Filters</h3>
                <div class="meal-type">
                    <h5>Meal Type</h5>
                    <label>
                        <input type="checkbox" name="meal-type" value="Breakfast"> Breakfast
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="meal-type" value="Lunch"> Lunch
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="meal-type" value="Dinner"> Dinner
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="meal-type" value="Snack"> Snack
                    </label>
                </div>
                
                <br>
                <div class="store-type">
                    <h5>Store Type</h5>
                    <label>
                        <input type="checkbox" name="store-type" value="Restaurant"> Restaurant
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="store-type" value="Fast Food"> Fast Food
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="store-type" value="Delivery"> Delivery
                    </label>
                </div>
                
                <br>

                <div class="allergen">
                    <h5>Allergen Filter</h5>
                    <label>
                        <input type="checkbox" name="dairy-free" value="Dairy-Free"> Dairy-Free
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="nut-free" value="Nut-Free"> Nut-Free
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="egg-free" value="Egg-Free"> Egg-Free
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="soy-free" value="Soy-Free"> Soy-Free
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="gluten-free" value="Gluten-Free"> Gluten-Free
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="shellfish-free" value="Shellfish-Free"> Shellfish-Free
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="shrimp-free" value="Shrimp-Free"> Shrimp-Free
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="halal" value="Halal"> Halal
                    </label>
                </div>
                
                <br>
                
            </div>
            <app-auth-modal [isOpen]="isModalOpen" (closeModal)="closeModal()"></app-auth-modal>


            <div class="picks">
                <h3>Popular Picks</h3>
                <div class="flex-picks">
                    <div *ngFor="let i of [1,2,3,4,5,6]" class="pick-item" (click)="checkUser()">
                        <h1>#{{i}}</h1>
                    </div>
                </div>
                <h3>Near You</h3>
                <div class="flex-picks">
                    <div *ngFor="let i of [1,2,3,4,5]" class="pick-item" (click)="checkUser()" >
                        <h1>#{{i}}</h1>
                    </div>
                </div>
            </div>


        </div>
        
    </div>
}


