.greet{
    background: radial-gradient(circle at 50% 50%, #508D4E 0%, #1A5319 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FEFAE0;
    line-height: 0.1;
    
}

.content{
    background-color: #D6EFD8;
    width: 100%;
    height: 534px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FEFAE0;
    line-height: 0.1;
}

.chart{
    margin-top: 10px;;
    background-color: #FEFAE0;
    width: 95%;
    height: 420px;
    color: #1A5319;
    padding: 10px;
}
.chart-heading{
    background-color: #1A5319;
    color: #FEFAE0;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.chart-container{
    background-color: #1A5319;
    color: #FEFAE0;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


