.greet{
    background: radial-gradient(circle at 50% 50%, #508D4E 0%, #1A5319 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FEFAE0;
    line-height: 0.1;
    
}

.content{
    background-color: #D6EFD8;
    width: 100%;
    height: 534px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FEFAE0;
    line-height: 0.1;
}

.chart{
    margin-top: 10px;;
    background-color: #FEFAE0;
    width: 95%;
    height: 420px;
    color: #1A5319;
    padding: 10px;
}
.chart-heading{
    background-color: #1A5319;
    color: #FEFAE0;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.chart-container{
    background-color: #1A5319;
    color: #FEFAE0;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.break{
    height: 40px;
}
.search{
    /* position: absolute;
    width: 30%;
    height: 40px;
    margin-top: 15%;
    border: none;
    border-radius: 5px;
    color: #1A5319;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FEFAE0; */
    position: absolute;
    width: 30%;
    min-width: 300px;
    height: 40px;
    margin-top: 290px;
    border: none;
    border-radius: 5px;
    color: #1A5319;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FEFAE0;
}

.search:focus{
    outline: none;
}

::placeholder{
    color: #1A5319;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
}

.flex-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    
}

label{
    margin-bottom: 2px;    
}

.filters{
    background-color: #FEFAE0;
    color: #1A5319;
    width: 300px;
    margin: 20px;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    &:hover {
        scrollbar-color: #1A5319 #FEFAE0;
    }
}

.picks{
    background-color: #FEFAE0;
    color: #1A5319;
    width: 153vh;
    margin: 20px;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    &:hover {
        scrollbar-color: #1A5319 #FEFAE0;
    }
}

.content-guest{
    background-color: #D6EFD8;
    width: 100%;
    height: 534px;
    display: flex;
    flex-direction: row;
    color: #FEFAE0;
    line-height: 0.1;
}

.flex-picks{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    scrollbar-gutter: stable;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    &:hover {
        scrollbar-color: #1A5319 #FEFAE0;
    }
}

.pick-item{
    background-color: #80AF81;
    margin: 20px;
    min-width: 250px;
    max-width: 250px;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
}


@media screen and (max-width: 880px) {
    .greet .logo{
        width: 150px;
        height: 150px;
    }

    .search{
        width: 60%;
        margin-top: 170px;
    }

    .filters{
        display: none;
        flex-direction: row;
        width: 100%;
        height: 40%;
        margin: 0;
        border-bottom: 1px solid #1A5319;
        border-top: 1px solid #1A5319;
        justify-content: center;
        gap: 2%;
        padding: 0;
    }

    .filters h3{
        display: none;
    }

    .flex-container{
        flex-direction: column;
    }

    .content-guest{
        width: 100%;
        height: 70%;
    }

    .picks{
        display: block;
        margin: 0;
        height: 88%;
        

    }

    .flex-picks{
        width: 100%;
    }

    .pick-item{
        min-width: 150px;
        max-width: 150px;
        min-height: 150px;
        max-height: 150px;
        
        
    }


    
}