<app-header></app-header>

@if(whatAmI == 'admin'){
    <div class="greet">
    <img src="img/logo-with-title.svg" alt="logo" class="logo">
    <h2>Hello, {{name}}!</h2>
</div>
<div class="content">
    <!-- app.component.html -->
<div class="chart">
    <h1 style="margin-left: 20px;">Summary</h1>
    <div class="chart-heading">
        <p>Sales</p>
        <p>May 2025</p>
    </div>
    <div class="chart-container">
        <canvas  id="lineChart" >{{ chart }}</canvas>
    </div>
    
  </div>
  
</div>
}

@if(whatAmI == 'user'){

}

@if(whatAmI == 'guest'){
    
}


