/* modal for user login */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #D6EFD8;
  border-radius: 5px;
  padding: 20px;
  width: 600px;
  height: 750px;
  text-align: center;
  /* position: relative; */
}

input{
  width: 500px;
  height: 56px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #1A5319;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 0px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
  color: #1A5319
}

.modal-header h2 {
  
  margin: auto;
  color: #1A5319;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  font-size: 40px;
  font-weight: 800;
  /* position: relative; */
  top: 0px;
  right: 150px;
}
.text {
  margin: 20px 0;
  color: #1A5319;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 35px;
  right: 165px;
}

.line1{
position: relative;
border : 1px solid #1A5319;
width: 220px;
top: 34px;
left: 300px;
}

.line2{
position: relative;
border : 1px solid #1A5319;
width: 220px;
bottom: 30px;
right: 0px;
}

.line p{
  color: #1A5319;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
}


.modal-body, .modal-footer {
  margin-top: 15px;
}

.btn-Facebook, .btn-Google {
  width: 500px;
  height: 56px;
  margin: 15px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 0px
}
.btn-login, .btn-signup {
  width: 500px;
  height: 56px;
  margin: auto;
  margin-top: 2px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: px;
}

.btn-Facebook {
  background-color: #4267B2;
}

.btn-Google {
  background-color: #DB4437;
}

.btn-signup {
  background-color: #1A5319;
}

.btn-login {
  background-color: #FEFAE0;
  border : 2px solid #1A5319;
  color: #1A5319
}


p {
  color: #1A5319;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

/* end of user modal login */


/* css for partner modal login */

.modal-partner{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content-partner{
  background-color: #D6EFD8;
  border-radius: 5px;
  padding: 0px;
  width: 546px;
  height: 550px;
  text-align: center;
  position: relative;
  top: 30px;
  right: 10px;
}
.close-partner {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
  color: #1A5319
}
.modal-body-partner, .modal-footer-partner {
  margin-top: 15px;
  

}

.modal-header-partner h2 {
  margin: auto;
  color: #1A5319;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  font-size: 40px;
  font-weight: 800;
  
  margin-top: 10%;
  right: 60px;
}
.text-partner {
  margin: auto;
  color: #1A5319;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  
  bottom: 35px;
  right: 165px;
}
.email-partner,  .password-partner{
  border-radius: 5px;
  border: 2px solid #1A5319;
  background-color: #FEFAE0;
  width: 450px;
  height: 56px;
  
}



table{
  margin: 20px 0;
  padding: 10px 0;
  color: #1A5319;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  bottom: 10px;
  left: 45px;
  width: 300px;
}
.btn-login-partner {
  background-color:#1A5319;
  width: 450px;
  height: 56px;
  margin: 15px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: px;
}

/* reviews */


.r-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .r-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }

  .r-modal-content {
    background-color: #FEFAE0;
    border-radius: 5px;
    padding: 20px;
    width: 800px;
    height: 800px;
    text-align: center;
    
  }

  .r-modal-body {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    &:hover {
        scrollbar-color: #1A5319 #FEFAE0;
    }
  }

  .coninterko {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

  }

  .review{
    
    width: 80%;
    height: 200px;
    background-color: #D6EFD8;
    border-radius: 15px;
    margin-top: 2%;
  }

  .flex{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .btn{
    background-color: #D9D9D9;
    border-radius: 25px;
    border: 0;
    height: 40px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
  }



