<app-header></app-header>
<div class="signup-window">
    <div class="left">
        <div class="picholder">
            <i class="fa-solid fa-upload"></i>
            <p>Upload Picture</p>
            <button class = "btn-local">Choose From Local</button>
        </div>
        <button class = "btn-submit">Submit</button>
    </div>

    <div class="right">
        <h1>Business Sign Up</h1>
        <hr>
    <table>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Middle Name</td>
            
        </tr>
        <tr>
            <td><input class="flname" type="text"></td>
            <td><input class="flname" type="text"></td>
            <td><input class="flname" type="text"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Address</td>
            <td>BIR</td>
        </tr>
        <tr>
            <td><input class="address" type="text"></td>
            <td><input class="bir" type="text"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Contact No.</td>
            <td>ID</td>
        </tr>
        <tr>
            <td>
                <select class = "area-code" name="area-code" id="area-code">
                    <option value="+63">+63</option>
                </select>
                <input class="contact" type="text">
            </td>
            <td><input class="id" type="text"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Business Name</td>
            <td>Location</td>
        </tr>
        <tr>
            <td><input class="business-name" type="text"></td>
            <td>
                <select class = "location" name="location" id="location">
                <option value="Cebu">Cebu</option>
                <option value="Manila"></option>
                <option value="Manila"></option>
                <option value="Manila"></option>
                <option value="Manila"></option>
                <option value="Manila"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>Confirm Password</td>
        </tr>
        <tr>
            <td><input class="password" type="password"></td>
            <td><input class="password" type="password"></td>
        </tr>
</table>
    <button class = "btn-signup">Sign Up</button>
    </div>
</div>