<app-header></app-header>
<div class="signup-window">
    <div class="left">
        <div class="picholder">
            <i class="fa-solid fa-upload"></i>
            <p>Upload Picture</p>
            <button class = "btn-local">Choose From Local</button>
        </div>
        <button class = "btn-submit" (click)="fetchData()">Submit</button>
    </div>

    <div class="right">
        <h1>Business Sign Up</h1>
        <hr>
    <table>
        <tr>
            <td>Full Name</td>
            
            
        </tr>
        <tr>
            <td><input class="flname" type="text" [(ngModel)]="fullname"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Address</td>
            <td>BIR</td>
        </tr>
        <tr>
            <td><input class="address" type="text" [(ngModel)]="address"></td>
            <td><input class="bir" type="text" [(ngModel)]="bir"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Contact No.</td>
            <td>ID</td>
        </tr>
        <tr>
            <td>
                
                <input class="contact" type="text" [(ngModel)]="contact">
            </td>
            <td><input class="id" type="text" [(ngModel)]="id"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Business Name</td>
            <td>Location</td>
        </tr>
        <tr>
            <td><input class="business-name" type="text"></td>
            <td>
                <select class = "location" name="location" id="location" [(ngModel)]="selectedLocation">
                    <option *ngFor="let location of locations" [value]="location.code">{{location.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>Confirm Password</td>
        </tr>
        <tr>
            <td><input class="password" type="password" [(ngModel)]="password"></td>
            <td><input class="password" type="password" [(ngModel)]="confirmPassword"></td>
        </tr>
</table>
    <div>{{error}}</div>
    <button class = "btn-signup">Sign Up</button>
    </div>
</div>