<div class="bg">
    <div class="top">
        <img src="img/logo-with-title.svg" alt="logo" class="logo">
    </div>

    <div class="content">

        <div class="btn-google">
            <img src="img/gmail.svg" alt="google" class="imggoogle">
            <div class="text">
                Continue with Google
            </div>
            
        </div>
        <div class="btn-facebook">
            <img src="img/fb.svg" alt="facebook" class="imgfacebook">
            <div class="text">
                Continue with Facebook
            </div>
        </div>

        <hr>
    </div>
    <div class="form">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="btn-login">Login</button>
            
        </div>
</div>