.signup-container{
    
    border: 2px solid #1A5319;
    border-radius: 10px;
    width: 545px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    color:#1A5319;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #FEFAE0;
    padding-bottom: 20px;
}

input{
    border-radius: 5px;
    border: 2px solid #1A5319;
    background-color: #FEFAE0;
    width: 150px;
    height: 30px;
}

select{
    border-radius: 5px;
    border: 2px solid #1A5319;
    background-color: #FEFAE0;
    height: 30px;
}

.btn{
    border-radius: 5px;
    border: 2px solid #1A5319;
    background-color: #1A5319;
    color: #FEFAE0;
    height: 40px;
    width: 100%;
    
    cursor: pointer;
}

.flname{
    width: 223px;
}
.address{
    width: 238%;
}

.contact{
    width: 391px;
    margin-left: 5px;
}

.password{
    width: 238%;
    
}

.terms{
    font-size: small;
    text-align: center;
}

.terms a{
    color: #1A5319;
    cursor: pointer;
    text-decoration: underline;
}


.tc-container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    width: 600px;
    height: 700px;
    margin: auto;
    margin-top: 20px;
    color:#1A5319;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #FEFAE0;
    padding-bottom: 20px;
}

.terms-content{
    overflow-y: scroll;
    border: 2px solid #1A5319;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    scrollbar-gutter: stable;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    &:hover {
        scrollbar-color: #1A5319 #FEFAE0;
    }
    margin: auto;
    font-size: small;
    margin-bottom: 10px;
}

.btn-close-t{
    border-radius: 5px;
    border: 2px solid #1A5319;
    background-color: #1A5319;
    color: #FEFAE0;
    height: 40px;
    width: 150px;
    margin-left: 4px;
    cursor: pointer;
    float: right;
    
}

.flex-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
}



@media screen and (max-width: 437px) {
    .signup-container{
        width: 100%;
        
    }

    .flname{
        width: 100%;
    }

    .address{
        width: 150%;
    }

    .select{
        margin: 0;
    }
    .contact{
        width: 100%;
    }

    .password{
        width: 150%;
    }


    .tc-container{
        width: 100%;
    }

    .terms-content{
        width: 100%;
    }


}